<!DOCTYPE html>
<html>
<head>
	<title>Lorem Ipsum Generator</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/myStyles.css">
</head>
<body>
	<div class="container">
		<div>
			<h4>Lorem Ipsum Generator</h4>
		</div>
		<form action="/" method="POST">
			<div class="bg-info options">
				<input type="radio" name="options" id="words" checked="checked"></input>
				<label class = "optLbl" for="words"> Words</label><br>
				<input type="radio" name="options" id="sentences"></input>
				<label class = "optLbl" for="sentences"> Sentences</label><br>
				<input type="radio" name="options" id="paragraphs"></input>
				<label class = "optLbl" for="paragraphs"> Paragraphs</label><br>
			</div>
			<div class="bg-warning options">
				<label for="units">Units</label>
				<input type="text" id="units" placeHolder="0" size=5></input><br>
			</div>
			<div class="">
				<input class="btn btn-success" type="submit" value="Generate Lorem Ipsum" id="generate"></input>
			</div>
		</form>
		<div>
			<p class="bg-success">{{generatedText}}</p>
		</div>
	</div>
</body>
</html>